html {
  line-height: inherit;
  margin: 1em;
  font-size:1.1em;
}

#landing {
  font-family: Palatino, Georgia, Times, serif;
  margin-left: 1em;
}


#landing nav {
    font-family: Times, sans-serif;
    font-style: italic;
  font-size: 1.5em;
  color: #CCC;
  margin: 2em;
  letter-spacing:-0.1em;
}

#landing img {
  height: 45vh;
}

body {
  color: black;
  margin: 1em;
  background-color: white;
  margin-left: 20%;
}
.container {
  padding:3em;
  background: lightyellow;
  border:3px double black;
 display: flex;
  justify-content: center;
  align-items: center;
  }

.container2 {margin:2em;  max-width:38em; min-width:1em;}

highlight {color:darkred;}
em {padding-left:1em;}

#text div {
 border: 1px solid white;
  padding: 1em;
max-width: 40em;
margin:auto;
  margin-top: 1em;
background-color: black;
color:white;
}

#text div quote {
  margin: 2em;
  color:gray;
}

h1 {
  color: green;
  font-size: 2.3em;
  letter-spacing: -0.1em;
  text-align: center;
  font-weight: bold;    text-decoration: underline;

}

h2 {
  font-size: 1.2em;
  color: black;
  letter-spacing: -0.05em;
  font-weight: bold;
    text-decoration: underline;

}

h3 {
  font-size: 1em;
  font-weight: bold;
 letter-spacing: -0.05em;
}

ul {
  list-style-type: circle;
  margin-left: 0.25em;
}

ol {
  list-style-type: lower-roman;
}

li {
  margin-bottom: 0.25em;
}

ul.tight li {
  margin-bottom: 0.01em;
}
/*
a{color: #0000EE; text-decoration: underline;}
a:visited{color: inherit;}
a:hover {color: orange;}
*/

/* NAVIGATION */
nav {
  background-color: black;
/*  border: 1px solid white;*/
  padding: 1em;
  flex-flow: column;
  margin: auto;

}
/*
nav a {
  color: #0068FF;
}
nav a:visited {
  color: #0068FF;
}*/
nav li {
  list-style-type: none;
  margin-bottom: 0.5em;
}

nav.return a, nav.return a:visited {
  color: white;
  letter-spacing: -0.15em;
}
nav.return a:hover {
  color: orange;
}

.vr {
  width: 1px;
  height: 100%;
  background-color: #CCC;
  position: fixed;
  overflow: visible;
  top: 0;
  bottom: 0;
  left: 10vw;
  z-index: -1;
}

ul.upper li {
  text-transform: uppercase;
}


/* Images */
img {
  display: flex;
  flex-flow: column;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  border:3px double #CCC;

}

img a:hover {border: 1px solid white; padding:1em;
}
/*HYPERLINKS*/
a, a:visited {
  color: green;
  font-weight:lighter;
}

a:hover {color: orange;}

nav a[href="#"] {
  color: white;
  text-decoration: none;
}


@media screen and (max-width: 650px) {
  body {
   margin:0.0em; 
   background: lightyellow;
   margin-left:0.0em;
  }
  html {
    margin:0.0em;
    font-size:1em;
  }
  .container {
  padding:0.0em;
  border:none;
 display: block;
  justify-content: center;
  align-items: center;
  }

.container2 {margin:0.1em; }
img{display:block;  width:50%; height:auto;}
}
